body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

/* The heros section*/
.container{
    background-color: #1F2937;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    justify-content: center;
}

.hero-container{
    display: flex;
    justify-content: space-around;
}

.hero-container>div>ul{
    display: flex;
    gap: 20px;
}

.hero-container>p{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero-container>div>ul>li, .write>p{
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 30px;
    border-top: 40px;
    gap: 100px;
}

.write{
    width: 400px;
    align-self: center;
}

.write>h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-image{
    width: 500px;
    height: 200px;
    background-color: gray;
    align-self:center;
}

button{
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    padding: 15px;
    border: none;
    font-size: large;
    font-weight: bold;
    margin-bottom: 60px;
}

/* Information section*/

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.text{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 20px;
    margin: 0;
}

.main-img-container{
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.one{
    width: 200px;
}

.one>p{
    text-align: center;
    color: gray;
}

.one>div{
    height: 200px;
    width: 200px;
    border: 6px solid #3882F6;
    border-radius: 15%;
}

/* Qoute section */

.quote-section{
    width: 100%;
    height: 400px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
    width: 550px;
}

.quote{
    display: block;
}
.tex{
    font-weight: 300px;
    font-size: 36px;
    color: #1F2937;
}
.person{
    display: flex;
    justify-content: flex-end;
    font-size: x-large;
    font-weight: 600;
}
