body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

/* The heros section*/
.container{
    background-color: #1F2937;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    justify-content: center;
}

.hero-container{
    display: flex;
    justify-content: space-around;
}

.hero-container>div>ul{
    display: flex;
    gap: 20px;
}

.hero-container>p{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero-container>div>ul>li, .write>p{
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 30px;
    border-top: 40px;
}

.write{
    width: 400px;
    align-self: center;
}

.write>h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-image{
    width: 500px;
    height: 200px;
    background-color: gray;
    align-self:center;
}

button{
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    padding: 15px;
    border: none;
    font-size: large;
    font-weight: bold;
    margin-bottom: 60px;
}
